[Unit]
Description=Lock the screen
Before=sleep.target

[Service]
User=dean
Environment=DISPLAY=:0 XSECURELOCK_BACKGROUND_COLOR=#111111 XSECURELOCK_AUTH_BACKGROUND_COLOR=#222222 XSECURELOCK_AUTH_FOREGROUND_COLOR=#dddddd XSECURELOCK_COMPOSITE_OBSCURER=0
ExecStart=xsecurelock

[Install]
WantedBy=sleep.target
